# no emacs temp files
*~
# no tables files
*.tex
*.aux
*.log
*.pdf
LSFJOB*
*.sh.e*
*.sh.o*
# no python compiled files:
*pyc
# no python init file
python/__init__.py
# slurm output
test/zhtautau/* 
# no results directories
test/chhiggs/results_*
test/zhtautau/results_*
